<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="startExercise(routines)" class="page-wrapper">
  <div class="container-xl">
    <!-- Page title -->
    <div class="page-header d-print-none">
      <div class="row align-items-center">
        <div class="col">
          <!-- Page pre-title -->
          <div class="page-pretitle">
            오늘은
          </div>
          <h2 class="page-title">
            2022.05.22
          </h2>
        </div>
      </div>
    </div>

    <div class="page-header d-print-none">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="page-title">
            루틴 없이 운동하기 💪🏻
          </h2>
        </div>
        <!-- Page title actions -->
        <div class="col-auto ms-auto d-print-none">
          <div class="btn-list">
            <a th:href="@{/exercise/record(theme=${theme})}" class="btn btn-outline-primary d-none d-sm-inline-block">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-player-play" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M7 4v16l13 -8z"></path>
              </svg>
              운동 시작
            </a>
            <a th:href="@{/exercise/record(theme=${theme})}" class="btn btn-outline-primary d-sm-none btn-icon" aria-label="운동 시작">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-player-play" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M7 4v16l13 -8z"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="page-header d-print-none">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="page-title">
            루틴으로 빠르게 시작하기 🏋🏻
          </h2>
        </div>
      </div>
    </div>

    <div class="page-body">
      <div class="row row-cards">

        <div class="col-md-6 col-lg-3"
             th:each="routine : ${routines}">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"
                  th:text="${routine.getName()}"></h3>
              <p class="text-muted"
                 th:text="${routine.getJoinedExerciseNames(' / ')}">루틴 운동 설명</p>
              <div>
                <span class="badge" style="margin-right: 5px"
                      th:each="detail : ${routine.getDetails()}"
                      th:text="${detail.getMovementPart().getTitle()}"
                      th:classappend="${detail.getMovementPart().getClassName()}">등</span>
              </div>
            </div>
            <!-- Card footer -->
            <div class="card-footer" style="text-align: end;">
              <a th:href="@{/exercise/record(routineId=${routine.getId()}, theme=${theme})}" class="btn btn-outline-primary">운동 시작</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

</html>